@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700");
body {
  font-family: Montserrat;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* VARIABLES */
#main-nav {
  background: #FFFFFF;
  height: 80px; }
  #main-nav .logo {
    float: left;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 100px; }
  #main-nav .img-valign {
    vertical-align: middle;
    height: auto;
    width: 40px; }
  #main-nav span {
    margin-left: 20px;
    color: #49C3F9; }
  #main-nav .list {
    margin-right: 70px; }
  #main-nav ul {
    width: 100%; }
  #main-nav li {
    float: right; }
  #main-nav a {
    color: #676767;
    margin-right: 30px;
    text-decoration: none;
    padding-top: 30px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom-color 50ms linear 0s;
    -o-transition: border-bottom-color 50ms linear 0s;
    transition: border-bottom-color 50ms linear 0s; }
    #main-nav a:hover {
      font-weight: bold; }

@media only screen and (max-width: 1200px) {
  #main-nav .logo {
    font-size: 14px;
    margin-left: 20px; }
  #main-nav .img-valign {
    height: 30px;
    width: auto; }
  #main-nav span {
    margin-left: 10px; }
  #main-nav .list {
    margin-right: 20px; } }

@media only screen and (max-width: 900px) {
  #main-nav .logo {
    font-size: 12px;
    margin-left: 20px; }
  #main-nav .img-valign {
    height: 30px;
    width: auto; }
  #main-nav span {
    margin-left: 10px; }
  #main-nav .list {
    margin-right: 10px; }
  #main-nav a {
    font-size: 13px; } }

@media only screen and (max-width: 700px) {
  #main-nav a {
    font-size: 10px; } }

@media only screen and (max-width: 450px) {
  #main-nav a {
    font-size: 8px;
    margin-right: 5px; }
  #main-nav .logo {
    font-size: 8px;
    margin-left: 5px; } }

.column {
  width: 50%;
  height: auto;
  float: left;
  display: block; }

.lead-banner {
  width: 100%;
  height: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(32, 225, 228, 0.5))), url("../img/gift-in-hands.png");
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(32, 225, 228, 0.5)), url("../img/gift-in-hands.png");
  background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(32, 225, 228, 0.5)), url("../img/gift-in-hands.png");
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(32, 225, 228, 0.5)), url("../img/gift-in-hands.png");
  background-repeat: no-repeat;
  background-size: cover; }

@media only screen and (max-width: 900px) {
  .column {
    clear: left;
    width: 100%; }
  .lead-banner {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

.contact {
  padding-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto; }

.contact h3 {
  padding-top: 100px;
  font-size: 35px; }

form {
  margin-top: 50px;
  -webkit-transition: all 2s easy-in-out;
  -o-transition: all 2s easy-in-out;
  transition: all 2s easy-in-out; }

.form-control {
  background: transparent;
  border-style: solid;
  border-width: .5px;
  border-radius: 5px;
  border-color: #757575;
  outline: none;
  font-size: 18px;
  margin-top: 15px; }

.form-control:hover {
  border-color: #FF0077;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease; }

form .submit {
  border-radius: 30px;
  width: 60%;
  background: #1FB7FA;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  height: 50px;
  margin-top: 50px;
  font-family: "OpenSans", sans-serif;
  margin-left: 20%;
  margin-right: 20%; }

form .submit:hover {
  background-color: #FF0077;
  opacity: .7;
  cursor: pointer; }

input {
  height: 50px;
  width: auto;
  padding: 0 10px; }

textarea {
  height: 300px;
  width: auto;
  padding: 0 10px; }

.float {
  float: left;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 50px; }

.na {
  width: 30%;
  margin-left: 2px; }

.em {
  width: 55%; }

.message {
  width: 89.5%; }

@media only screen and (max-width: 1200px) {
  .message {
    width: 90.5%; } }

@media only screen and (max-width: 1150px) {
  .na {
    width: 100%;
    margin-left: 0px; }
  .em {
    width: 100%; }
  .message {
    width: 100%; }
  .contact h3 {
    padding-top: 100px;
    font-size: 35px;
    text-align: center; }
  .float {
    margin-bottom: 10px; } }

@media only screen and (max-width: 900px) {
  .contact h3 {
    padding-top: 50px; } }

@media only screen and (max-width: 450px) {
  .contact h3 {
    padding-top: 60px;
    font-size: 30px; }
  form .submit {
    font-size: 15px; } }

.contact-bottom {
  width: 30%;
  margin-left: auto;
  margin-right: auto; }

.bottomSection {
  height: 500px;
  width: 100%;
  background-color: #20EADE;
  /* For browsers that do not support gradients */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#20B8F9), to(#20EADE));
  background-image: -webkit-linear-gradient(#20B8F9, #20EADE);
  background-image: -o-linear-gradient(#20B8F9, #20EADE);
  background-image: linear-gradient(#20B8F9, #20EADE);
  color: black;
  display: block;
  float: left; }

.heartOfGradient {
  padding-top: 180px;
  width: 800px;
  margin-left: auto;
  margin-right: auto; }

.heartOfGradient h3 {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  text-align: center; }

.form-control-bottom {
  width: 44%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: 1px solid white; }

.form-control-bottom:hover {
  border-color: #FF0077;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease; }

.name {
  background-position: bottom;
  background-position: left;
  background-image: url(../img/user-icon.png);
  background-repeat: no-repeat;
  text-indent: 3%;
  color: white; }

.email {
  background-position: bottom;
  background-position: left;
  background-image: url(../img/email-icon.png);
  background-repeat: no-repeat;
  text-indent: 5%;
  color: white; }

form .submit-bottom {
  border-radius: 30px;
  width: 60%;
  background: #fff;
  border-color: transparent;
  color: #1FB7FA;
  font-size: 20px;
  height: 50px;
  margin-top: 50px;
  font-family: "OpenSans", sans-serif;
  margin-left: 20%;
  margin-right: 20%; }

form .submit-bottom:hover {
  background-color: #FF0077;
  opacity: .8;
  color: white;
  cursor: pointer; }

.contact-bottom ::-webkit-input-placeholder {
  color: white;
  font-size: 13px; }

.contact-bottom :-ms-input-placeholder {
  color: white;
  font-size: 13px; }

.contact-bottom ::-ms-input-placeholder {
  color: white;
  font-size: 13px; }

.contact-bottom ::placeholder {
  color: white;
  font-size: 13px; }

@media only screen and (max-width: 1550px) {
  .form-control-bottom {
    width: 40%; } }

@media only screen and (max-width: 1200px) {
  .form-control-bottom {
    width: 40%; }
  .heartOfGradient h3 {
    font-size: 30px; } }

@media only screen and (max-width: 900px) {
  .form-control-bottom {
    width: 43%; }
  .heartOfGradient {
    padding-top: 100px;
    width: auto; }
  .heartOfGradient h3 {
    font-size: 30px; }
  .bottomSection {
    height: 400px; }
  .contact-bottom {
    width: 50%; } }

@media only screen and (max-width: 650px) {
  .heartOfGradient {
    padding-top: 50px;
    width: auto; }
  .heartOfGradient h3 {
    font-size: 20px; }
  .form-control-bottom {
    width: 100%; } }

@media only screen and (max-width: 450px) {
  form .submit-bottom {
    font-size: 15px; } }
