/* VARIABLES */

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700');

// Colours
$deepBlue: #FFFFFF;
$offWhite: #676767;
$logoColor: #49C3F9;
$textDecoration: #21B6FA;

//Font family
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-opensans: 'OpenSans', sans-serif;

// Font sizes
$bannerHeading: 42px;
$sectionHeading: 24px;

//Img sizes
$logoSize: 40px;
